{% extends "layout.html" %}
{% block content %}
  <h1>About</h1>
  GitHub repo : <a href="https://github.com/yyoshiaki/TregBSPCR_webapp">https://github.com/yyoshiaki/TregBSPCR_webapp</a> <br>
  Developers : Yoshiaki Yasumizu, Yasunari Matsumoto <br>
  Licence : This software is freely available for academic users. Usage for commercial purposes is not allowed. 
  Please refer to the LICENCE page. <br>
  <a href="http://creativecommons.org/licenses/by-nc/4.0/" rel="nofollow">
    <img alt="Creative Commons License" 
    src="https://camo.githubusercontent.com/11b9a412da4f93e847989b8255d8b77d92aecf51741005da3e6e3b8c2b79b219/68747470733a2f2f692e6372656174697665636f6d6d6f6e732e6f72672f6c2f62792d6e632f342e302f38387833312e706e67" 
    data-canonical-src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" style="max-width:100%;">
  </a>
{% endblock %}