{% extends "layout.html" %}
{% block content %}
  <div id="content">
  <h1>Input sequences</h1>

  <form  action="/" method="POST" role="form" enctype="multipart/form-data">
    <!--   
    <div class="form-group">
        <label class="form-checkbox form-inline">
        <input type="checkbox"><i class="form-icon"></i> Checkbox 1
        </label>
        <label class="form-checkbox form-inline">
        <input type="checkbox" checked=""><i class="form-icon"></i> Checkbox 2
        </label>
    </div> -->

    <div class="form-group">
        <label class="form-radio form-inline">
        <input type="radio" name="species" checked="" value="Human"><i class="form-icon"></i> Human
        </label>
        <label class="form-radio form-inline">
        <input type="radio" name="species" value="Mouse"><i class="form-icon"></i> Mouse
        </label>

        <br>

        <label class="form-radio form-inline">
        <input type="radio" name="gender" checked="" value="Male"><i class="form-icon"></i> Male
        </label>
        <label class="form-radio form-inline">
        <input type="radio" name="gender" value="Female"><i class="form-icon"></i> Female
        </label>
        <label class="form-radio form-inline">
        <input type="radio" name="gender" value="Unknown"><i class="form-icon"></i> Unknown
        </label>

        <div class="column col-4 col-xs-12">
        <select class="form-select" name="classification">
          <option value="unselected">Choose classification dataset</option>
          <option value="tregtconv">Treg-Tconv</option>
          <option value="moss">25 tissues (Moss et al, only for human)</option>
          <option value="no">no classification</option>
        </select>
        
        <label class="form-label" for="enz1">Restrection enzyme 1</label>
        <input class="form-input" type="text" id="enz1" name="enz1" placeholder="Restrection enzyme 1 (ex. CTCGAG)">

        <label class="form-label" for="enz2">Restrection enzyme 2</label>
        <input class="form-input" type="text" id="enz2" name="enz2" placeholder="Restrection enzyme 2 (ex. CTCGAG)">
        </div>

        <div class="column col-8 col-xs-12">
        <label class="form-label" for="fasta">Fasta</label>
        <textarea class="form-input" id="fasta" name="fasta" placeholder="Fasta" rows="6"></textarea>
        </div>
        <br>
        .seq files (ziped directory or multiple .seq files, <10 MB) or fasta file.
        <input type="file" id="uploadFile" name="uploadFile" accept=".seq,.zip,.fa,.fasta" multiple>
    </div>

    <button type="submit" class="btn" onclick="$('#loading').show(); $('#content').hide();">Submit</button>
    <!-- <button class="btn btn-primary">primary button</button>
    <button class="btn btn-link">link button</button> -->
    <a href="#" id="Reset">&nbsp;&nbsp;&nbsp;&nbsp;Reset&nbsp;&nbsp;</a>
    <a href="#" id="setExample">&nbsp;&nbsp;Example&nbsp;&nbsp;</a>
  </form>
  </div>

  <script> 
    $("#Reset").click(function(event) { 
        $('input[name=species]').val(["Human"]);
        $('#enz1').val(""); 
        $('#enz2').val("");
        $('#fasta').val("");  
        $('#uploadFile').val("");
        $('input[name=gender]').val(["Male"]);
        $('select[name=classification]').val(["unselected"]);
    }); 
    $("#setExample").click(function(event) { 
        $('input[name=species]').val(["Human"]);
        $('input[name=gender]').val(["Male"]);
        $('select[name=classification]').val(["tregtconv"]);
        $('#enz1').val("GGATCC"); 
        $('#enz2').val("CTCGAG");
        $('#fasta').val('>Goto_2_G02_20.seq\n'
          +'NNNNNNNNNNNNNNNNNNNNNNNNNNTATAGAATACGCGGNCGNNGCTTGNATGCCTGNAGGTC'
          +'GACTCTAGAGCGGATCCACAATTATCTAAACCCTATTATCACAACCCCCGACTTACCCAAATTTT'
          +'TCCGCCATTAACGTCATAACGACCGAATACGCCGAACTTCATCGACACCACGAAAAAAAAAAAAAA'
          +'AACAAATACCCCACCCCACAAATTTCGTTCCGAAAACTAACTACCCTATCCTACAACAAACTTAAC'
          +'CCAAAGATCTGGCCTCGAGATCCCGGGTACCGAGCTCGAATTCTGCGGCCGCGCCCTATAGTGAGTC'
          +'GTATTACACTAGCTCACTGGCCGTCGTTTTACAACGTCGTGACTGGGAAAACCCTGGCGTTACCCAACTTNN\n'
          +'>Goto_2_B02_05.seq\n'
          +'NNNNNNNNNNNNNNNNNNNTNNNNNNACGCGGGNNNNNGNNTGNAATGCNTNNNNGGTCGACTCTAGAGCGGGATCCACAATTATC'
          +'TAAACCCTATNANCNNAACCCCCGACTTNNNNNNNTTTTTCCGCCATTAACATCATAACGACCGAATACGCCGAACTTCATCGACACCAC'
          +'GAAAAAAAAAAAAAAAACAAATACCCCACCCCACAAATTTCGTTCCGAAANNNANNTACCCTATCCTACAACAAACTTAACCNNNNGATCT'
          +'GGCCTCGAGATCCCGGGTACCGAGCTCGAATTCTGCGGCCGNNCCNNNANANNNNNNCNNATTACACTAGCTCACTGGNCGNCGTTTTACAAC'
          +'GNCGNGNCTGGNAAAACCCTGNNNTTACCCNNCNTAATCNNN\n'
          +'>Goto_2_F02_17.seq\n'
          +'NNNNNNNNNNNNNNNNNNNTNNNNNNNNCGGNCGNNAGCTTGNNATGCCTGNAGGTCGACTCTAGAGCGGATCCACAATT'
          +'ATCTAAACCCTATTATCACAACCCCCGACTTACCCAAATTTTTCCGCCATTAACGTCATAACGACCGAATACGCCGAACT'
          +'TCATCGACACCACGAAAAAAAAAAAAAAAACAAATACCCCACCCCACAAATTTCGTTCCGAAAACTAACTACCCTATCCT'
          +'ACAACAAACTTAACCCAAAGATCTGGCCTCGAGATCCCGGGTACCGAGCTCGAATTCTGCGGCCGCNCCNTATAGTGAGT'
          +'CGTATTACACTAGNNNNNNNGCCGTCGTTTTACAACGTCGTGACTGGGAAAACCCTGGCGTTACCCAACTTAATCGCCTT'
          +'GNNG\n'
          +'>Goto_2_E01_13.seq\n'
          +'NNNNNNNNNNNNNNNGCGGGNNNNNNNGNNNGNNGCCTGCANGGTCGACTCTAGAGCGGATCCACAATTATCTAAACCCT'
          +'ATTATCACAACCCCCGACTTACCCAAATTTTTCCGCCATTAACGTCATAACGACCGAATACGCCGAACTTCATCGACACC'
          +'ACGAAAAAAAAAAAAACAAATACCCCACCCCACAAATTTCGTTCCGAAAACTAACTACCCTATCCTACAACAAACTTAAC'
          +'CCAAAGATCTGGCCTCGAGATCCCGGGTACCGAGCTCGAATTCTGCGGCCNNNNNNNANAGTGAGTCGTATTACACTAGC'
          +'TCACTGGCCGTCGTTTTACAACGNCGTGACTGGGAAAACCCTGGCGTTACCCAACTTAATNN');  
        $('#uploadFile').val(""); 
    }); 
</script> 

  <div id="loading" style="display:none;">
    <br><br><div class="loading loading-lg"></div>
    <div class="p-centered"><h2>Wait 3 minutes. Drink a cup of coffee.</h2></div>
  </div>
 
{% endblock %}