{% extends "layout.html" %}
{% block content %}
  <div id="content">
  <h1>Input sequences</h1>

  <form  action="/" method="POST" role="form" enctype="multipart/form-data">
    <!--   
    <div class="form-group">
        <label class="form-checkbox form-inline">
        <input type="checkbox"><i class="form-icon"></i> Checkbox 1
        </label>
        <label class="form-checkbox form-inline">
        <input type="checkbox" checked=""><i class="form-icon"></i> Checkbox 2
        </label>
    </div> -->

    <div class="form-group">
        <label class="form-radio form-inline">
        <input type="radio" name="species" checked="" value="Human"><i class="form-icon"></i> Human
        </label>
        <label class="form-radio form-inline">
        <input type="radio" name="species" value="Mouse"><i class="form-icon"></i> Mouse
        </label>

        <div class="column col-4 col-xs-12">
        <label class="form-label" for="enz1">Restrection enzyme 1</label>
        <input class="form-input" type="text" id="enz1" name="enz1" placeholder="Restrection enzyme 1 (ex. CTCGAG)">

        <label class="form-label" for="enz2">Restrection enzyme 2</label>
        <input class="form-input" type="text" id="enz2" name="enz2" placeholder="Restrection enzyme 2 (ex. CTCGAG)">
        </div>

        <div class="column col-8 col-xs-12">
        <label class="form-label" for="fasta">Fasta</label>
        <textarea class="form-input" id="fasta" name="fasta" placeholder="Fasta" rows="6"></textarea>
        </div>
        <br>
        .seq files (ziped directory, <10 MB)
        <input type="file" id="uploadFile" name="uploadFile">
    </div>

    <button type="submit" class="btn" onclick="$('#loading').show(); $('#content').hide();">Submit</button>
    <!-- <button class="btn btn-primary">primary button</button>
    <button class="btn btn-link">link button</button> -->
    <a href="#" id="Reset">&nbsp;&nbsp;&nbsp;&nbsp;Reset&nbsp;&nbsp;</a>
    <a href="#" id="setExample">&nbsp;&nbsp;Example&nbsp;&nbsp;</a>
  </form>
  </div>

  <script> 
    $("#Reset").click(function(event) { 
        $('input[name=species]').val(["Human"]); 
        $('#enz1').val(""); 
        $('#enz2').val("");
        $('#fasta').val("");  
        $('#uploadFile').val("");  
    }); 
    $("#setExample").click(function(event) { 
        $('input[name=species]').val(["Human"]);
        $('#enz1').val("CTCGAG"); 
        $('#enz2').val("CTCGAG");
        $('#fasta').val('>Goto_2_G02_20.seq\n'
          +'NNNNNNNNNNNNNNNNNNNNNNNNNNTATAGAATACGCGGNCGNNGCTTGNATGCCTGNAGGTC'
          +'GACTCTAGAGCGGATCCACAATTATCTAAACCCTATTATCACAACCCCCGACTTACCCAAATTTT'
          +'TCCGCCATTAACGTCATAACGACCGAATACGCCGAACTTCATCGACACCACGAAAAAAAAAAAAAA'
          +'AACAAATACCCCACCCCACAAATTTCGTTCCGAAAACTAACTACCCTATCCTACAACAAACTTAAC'
          +'CCAAAGATCTGGCCTCGAGATCCCGGGTACCGAGCTCGAATTCTGCGGCCGCGCCCTATAGTGAGTC'
          +'GTATTACACTAGCTCACTGGCCGTCGTTTTACAACGTCGTGACTGGGAAAACCCTGGCGTTACCCAACTTNN\n'
          +'>Goto_2_B02_05.seq\n'
          +'NNNNNNNNNNNNNNNNNNNTNNNNNNACGCGGGNNNNNGNNTGNAATGCNTNNNNGGTCGACTCTAGAGCGGGATCCACAATTATC'
          +'TAAACCCTATNANCNNAACCCCCGACTTNNNNNNNTTTTTCCGCCATTAACATCATAACGACCGAATACGCCGAACTTCATCGACACCAC'
          +'GAAAAAAAAAAAAAAAACAAATACCCCACCCCACAAATTTCGTTCCGAAANNNANNTACCCTATCCTACAACAAACTTAACCNNNNGATCT'
          +'GGCCTCGAGATCCCGGGTACCGAGCTCGAATTCTGCGGCCGNNCCNNNANANNNNNNCNNATTACACTAGCTCACTGGNCGNCGTTTTACAAC'
          +'GNCGNGNCTGGNAAAACCCTGNNNTTACCCNNCNTAATCNNN\n'
          +'>Goto_2_D02_11.seq\n'
          +'NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNGNCGNANGNTTGNATGCCTGNNGNNNGACTCTAGAGCGGATCCACAATTATCTNAACCCTAT'
          +'TATCACAACCCCCGACTTACCCAAATTTTTCNNNNNNTAANNNCATAACGNCNNANTACGCCGAACTTCATCGACACCACNAAAAAAAAAAAAAAA'
          +'ACAAATACCCCACCCCACAAATTTCGTTCCGAAAACTAACTACCCTATCCNACAACAAACTTAACCCNAAGATCTGGCCTCGAGATCCCGGGTACCG'
          +'AGCTCGAATTCTGCGGCCGNNNNNNANNNNNAGTCGTATTACACTAGCTCACTGGCCGNCGNNNNANNACGTCGNGNCNNGGGAAAACCCTGNN'
          +'GTTACCCAACTTTAANCNNNNN');  
        $('#uploadFile').val(""); 
    }); 
</script> 

  <div id="loading" style="display:none;">
    <br><br><div class="loading loading-lg"></div>
    <div class="p-centered"><h2>Wait a minute!</h2></div>
  </div>

{% endblock %}